.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid var(--text-primary);
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-secondary);
}

.navLeft, .navRight {
  display: flex;
  align-items: center;
}

.navLeft {
  border-right: 1px solid var(--text-primary);
  padding-right: 11px;
}

.navLink {
  padding: 11px;
}

.navLink a {
  color: var(--text-secondary);
  margin: 0 11px;
  text-decoration: none;
  padding-right: 11px;
  position: relative;
  transition: color 0.3s ease;
}

.navLink a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: var(--accent-opposite);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.navLink a:hover {
  color: var(--accent-opposite);
}

.navLink a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 767px) {
  .navMenu {
    align-items: flex-start;
  }
}

.icon {
  width: 11px;
  height: 11px;
  margin-right: 11px;
  vertical-align: middle;
  flex-shrink: 0;
  transition: filter 0.3s ease;
}

.iconInverted {
  filter: invert(1) brightness(100);
}
