.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal {
  background-color: var(--gradient-base-bottom);
  padding: 20px;
  max-width: 800px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.title {
  text-transform: uppercase;
  font-size: 2rem;
}

.textDisplay {
  min-height: 10.5rem;
  margin-bottom: 22px;
  width: 100%;
  overflow-y: hidden;
  color: var(--text-primary);
}

.terminalLine {
  display: flex;
  align-items: center;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 15px;
  background-color: var(--text-color);
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.progressContainer {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid var(--text-primary);
}

.progressBar {
  flex-grow: 1;
  height: 22px;
  background-color: var(--accent);
  border: 2px solid var(--accent-opposite);
  overflow: hidden;
  width: 100%;
  margin-right: 0;
}

.progressBarFill {
  height: 100%;
  background-color: var(--accent-fun);
  transition: width 0.5s ease-out;
}

.progressText {
  font-family: var(--font-family);
  color: var(--text-primary);
  min-width: 77px;
  text-align: center;
}

.icon-align-bottom {
  vertical-align: -0.25em; /* Adjust as needed */
  height: 1em; /* Ensures the icon scales with text size */
  display: inline-block;
}


.tab {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--base-font-size);
  line-height: var(--line-height);
  color: var(--text-primary);
  margin-bottom: 3rem;
}

.tab th,
.tab td {
  border: var(--border-thickness) solid var(--text-primary);
  padding: 0.5rem;
  text-align: left;
}

.tab th {
  font-weight: var(--font-weight-bold);
  margin-bottom: 3rem;
}

.widthMin {
  width: 1%;
  white-space: nowrap;
}

.widthAuto {
  width: auto;
}

.title {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 0.9rem;
  display: block;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

/* Responsive styles */
@media (max-width: 768px) {
  .modal {
    padding: 10px;
    max-width: 95%;
  }

  .header {
    font-size: 0.9rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 0.8rem;
  }

  .header th,
  .header td {
    padding: 0.3rem;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 0.7rem;
  }

  .header th,
  .header td {
    padding: 0.2rem;
  }
}
