/* src/components/NameGrid.module.css */

.nameGrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Left-align contents */
  justify-content: flex-start;
  width: auto; /* Allow width to be determined by content */
  max-width: 100%; /* Prevent overflow */
  margin: 20px auto; /* Center the grid */
}

.timer {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.settingIcon {
  color: var(--text-secondary);
}

.desktopIcon {
  transition: transform 0.3s ease;
}

@media (min-width: 769px) {
  .desktopIcon {
    transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  .nameGrid {
    margin: 0px 15px;
  }
}

@media (max-width: 480px) {
  .nameGrid {
    margin: 0px 10px;
  }
}
