.matchFoundButton {
  position: relative;
  transform: none;
  left: auto;
  bottom: auto;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 12px 24px;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  animation: pulse 2s infinite;
  border: 2px solid var(--text-primary);
}

.matchFoundButton:hover {
  background-color: var(--accent-color);
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  animation: none;
}

.buttonIcon {
  width: 3rem;
  height: 3rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
   50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .matchFoundButton {
    border-width: 1px;
    font-size: 1.5rem; /* Reduce font size for mobile */
  }
  
  .buttonIcon {
    width: 2rem;
    height: 2rem;
  }
}

.buttonContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 110px; /* Changed from 20px to 110px */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
