/* App.css */

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  .top-column {
    flex: 1;
    min-height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  .bottom-column {
    flex: 1;
    min-height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#timer {
    font-size: 24px;
    font-weight: bold;
}

/* Ensure the layout remains consistent across screen sizes */
@media (max-width: 768px) {
    .app {
        flex-direction: column;
    }

    .topHalf, .bottomHalf {
        width: 100%;
    }
}
  